@media (max-width: 1580px) {
  .slick {
    &-prev {
      left: -100px;
    }

    &-next {
      right: -100px;
    }
  }
}

@media (max-width: 1475px) {
  .slick {
    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }
  }

  .works__slider .slick-prev,
  .works__slider .slick-next,
  .slick-prev,
  .slick-next {
    top: -50px;
  }

  .feedback__slider .slick-prev {
    left: 15px;
  }

  .feedback__slider .slick-next {
    right: 15px;
  }
}

@media (max-width: 1200px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  .title {
    font-size: 42px;
  }

  .header {
    &__title {
      font-size: 60px;
      line-height: 76px;
    }

    &__tagline,
    &__pretitle {
      font-size: 22px;
      line-height: 26px;
    }
  }

  .slider {
    &__hover {
      padding: 50px;
    }
  }

  .services {
    &__item {
      margin: 0 45px;
      padding-left: 20px;

      &::before {
        left: -45px;
      }
    }

    &__img {
      width: 350px;
      margin-right: 50px;
    }

    &__btn {
      right: -45px;
    }
  }

  .barbers__slider-hover {
    padding: 80px 50px;
  }

  .contacts {
    &__info {
      padding: 100px 43px;
    }
  }

  .footer {
    &__inner {
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 992px) {
  body {
    font-size: 16px;
  }

  .title {
    font-size: 34px;
  }

  .menu__item:not(:last-child) {
    margin-right: 25px;
  }

  .header {
    &__phone {
      font-size: 18px;
      line-height: 22px;
    }

    &__title {
      font-size: 46px;
      line-height: 64px;
    }

    &__tagline {
      margin-left: 70px;
    }

    &__btn {
      font-size: 18px;
      margin-left: 70px;
    }
  }

  .about {
    &__tagline+&__tagline {
      margin-left: 40px;
    }
  }

  .slick {
    &-arrow {
      width: 40px;
      height: 26px;
      background-size: cover;
    }
  }

  .price-list {
    font-size: 18px;
  }

  .services {
    &__item {
      padding: 30px 10px;
    }

    &__img {
      width: 300px;
      margin-right: 25px;
    }
  }

  .social {
    &__link {
      margin: 0 50px;
    }
  }

  .contacts {
    &__adres {
      &:nth-child(1) {
        margin-bottom: 50px;

        &::after {
          bottom: -25px;
        }
      }
    }
  }

  .footer {
    &__menu {
      &-item:not(:last-child) {
        margin-right: 50px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 767px) {
  .menu {
    &__btn {
      display: block;
      z-index: 2;
    }

    &__list {
      position: fixed;
      top: 0;
      left: -100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 22px;
      color: $golden;
      z-index: 1;
      transition: left 0.5s;
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(5px);

      &--opened {
        left: 0;
      }
    }

    &__item {
      width: 100%;
    }

    &__item:not(:last-child) {
      margin-right: 0;
    }

    &__link {
      display: block;
      padding: 25px;
      text-align: center;
    }
  }

  .header {
    &__title {
      font-size: 36px;
      line-height: 46px;
    }

    &__tagline,
    &__pretitle {
      font-size: 18px;
      line-height: 24px;
    }

    &__tagline {
      margin-left: 0;
    }

    &__btn {
      font-size: 14px;
      margin-left: 0;
    }
  }

  .section {
    margin-bottom: 60px;
  }

  .about {
    margin-top: 60px;

    &__inner {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__tagline+&__tagline {
      margin-left: 0;
    }

    &__descr--green::before {
      content: none;
    }
  }

  .pros {
    &__title {
      font-size: 22px;
    }
  }

  .services {
    &__item {
      margin: 0;
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;

      &::before {
        left: 0;
        top: 200px;
      }
    }

    &__img {
      margin: 0;
    }

    &__item-title {
      margin-top: 18px;
      margin-left: 85px;
    }

    &__btn {
      right: 0;
      top: 217px;
    }
  }

  .galery {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 1fr);
      grid-template-areas: "img2 img2"
        "img2 img2"
        "img1 img3"
        "img1 img3"
        "img1 img5"
        "img4 img4"
        "img4 img4";
    }
  }

  .social {
    &__link {
      height: 60px;
    }

    &__icon {
      height: 100%;
    }
  }

  .contacts {
    &__info {
      padding: 43px;
    }

    &__adres-text {
      margin-left: -43px;
    }
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 30px;
  }

  .header {
    &::after {
      width: 100%;
    }

    &__top-screen {
      text-align: center;
    }

    &__tagline,
    &__btn {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .video {
    display: none;
  }

  .pros {
    &__list {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .services {
    &__item {
      &::before {
        top: 208px;
        font-size: 32px;
      }
    }

    &__item-title {
      font-size: 18px;
      margin-top: 22px;
      margin-left: 50px;
    }

    &__btn {
      top: 220px;
      width: 24px;
      height: 24px;
    }
  }

  .barbers,
  .feedback {
    &__slider {
      padding-bottom: 0;
    }
  }

  .galery {
    &__inner {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "img2 img2"
        "img1 img3"
        "img4 img4"
        "img5 img5";
    }
  }

  .social {
    &__link {
      margin: 0 20px;
      height: 35px;
    }
  }

  .contacts {
    background: none;

    &::after {
      content: none;
    }

    &__info {
      text-align: center;
      padding: 0;
    }

    &__adres {
      &:nth-child(1) {
        margin-bottom: 30px;

        &::after {
          content: none;
        }
      }
    }

    &__adres-title::before {
      left: 5%;
    }

    &__adres-text {
      margin: 0;
    }

    &__small-map {
      display: block;
      width: 100%;
      max-width: 400px;
      margin: 20px auto 0;
    }
  }
}