@media (max-width: 1200px) {
  &__item:not(:last-child) {
    margin-right: 50px;
  }

  .header {
    &__title {
      font-size: 60px;
      line-height: 76px;
    }
    &__tagline,
    &__pretitle {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

@media (max-width: 992px) {
  body {
    font-size: 16px;
  }
  .page {
    font-size: 16px;
  }

  .menu__item:not(:last-child) {
    margin-right: 25px;
  }

  .header {
    &__phone {
      font-size: 18px;
      line-height: 22px;
    }

    &__title {
      font-size: 46px;
      line-height: 64px;
    }

    &__tagline {
      margin-left: 70px;
    }

    &__btn {
      font-size: 18px;
      margin-left: 70px;
    }
  }
}

@media (max-width: 767px) {
}
