@import "vars";
@import "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: $white;
  background-color: #343332;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: "Lora";
  font-weight: 700;
  text-transform: uppercase;
  color: $golden;
}

.btn {
  color: $golden;
  font-weight: 600;
  font-size: 20px;
  padding-right: 41px;
}

.list {
  list-style-type: none;
}

.menu {
  &__list {
    display: flex;
  }

  &__item + &__item {
    margin-left: 60px;
    font-weight: 500;
  }
}

.header {
  background-image: url("../images/top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__topbar {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  &__phone {
    font-weight: 500;
  }

  &__top-screen {
    padding-top: 171px;
    padding-bottom: 276px;
  }

  &__pretitle,
  &__tagline {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
  }

  &__title {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 72px;
  }

  &__tagline {
    margin-left: 110px;
    max-width: 335px;
  }

  &__btn {
    display: inline-block;
    position: relative;
    margin: 50px 0 0 113px;
    border: 2px solid $golden;
    padding: 20px 82px 21px 41px;

    &::after {
      position: absolute;
      content: url("../images/arrow-btn.svg");
      // background-image: url('../images/arrow-btn.svg');
      width: 26px;
      height: 18px;
      right: 41px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.about {
  margin-top: 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: block;
    font-size: 48px;
    font-family: "Lora";
    font-weight: 700;
    line-height: 140%;
  }

  &__tagline {
    display: block;
    padding-top: 8px;
    font-weight: 500;
    color: $gray;
    text-transform: none;
  }

  &__tagline + &__tagline {
    margin-left: 110px;
  }

  &__descr {
    position: relative;
    max-width: 460px;
    line-height: 160%;

    &--green {
      color: $green;
    }

    &--green::before {
      position: absolute;
      content: "";
      left: -18px;
      top: 10px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $white;
    }
  }

  &__video {
    margin: 75px auto 0;
    max-width: 1580px;
  }
}

.video {
  position: relative;

  &__player {
    width: 100%;
    z-index: 5;
  }

  &__btn {
    position: absolute;
    background-image: url("../images/start-btn.svg");
    background-color: transparent;
    border: none;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
    transition: all 0.5s;
    outline: none;
  }

  &__btn--paused {
    background-image: url("../images/pause-btn.svg");
  }
}

.pros {
  margin-top: 120px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: "Montserrat";
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 20px;
  }

  &__descr {
    line-height: 140%;
    max-width: 300px;
  }
}
